<!DOCTYPE html>
<html lang="ch">
  
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="../assets/style/ProjectPage.css" />
    <script src="../assets/js/insert.js"></script>
    <script src="../assets/js/gitStar.js"></script>
</head>

<body>
  <header>
    <h3>项目名</h3>
    <h3>项目介绍</h3>
    <h3>Git Stars</h3>
    <h3>更新时间</h3>
    <h3>负责人</h3>
  </header>
  <div class="line"></div>
  <section class="form">
    <div class="project">
      <div class="projectName">
        项目名1
      </div>
      <div class="projectInformation" style="color: rgb(255, 106, 106)">
        请点击文件名浏览网页!!!（就是有下划线那个）,部分信息正常请检查site.json文件内属性名大小写问题，如ProjectName写成projectname
      </div>
      <div class="gitStars">
        5
      </div>
      <div class="updatedTime">
        2021-11-16
      </div>
      <div class="functionary">
        刘宇飞
      </div>
    </div>
  </section>
  <footer></footer>
</body>
</html>