<!DOCTYPE html>
<html lang="ch">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h3>项目名</h3>
    <h3>Git Stars</h3>
    <h3>负责人</h3>
  </header>
  <div class="line"></div>
  <section class="form"></section>
  <footer></footer>
</body>

<style>
  header {
    display: flex;
    margin: 10px 50px;
  }

  h3:nth-child(1) {
    flex: 3;
  }

  h3:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }

  h3:nth-child(3) {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }

  .line {
    width: 95%;
    background-color: rgb(0,0,0);
    height: 1px;
    margin: 0 2.5%;
  }
</style>
</html>