body {
  height: 975px;
}

iframe {
  height: calc(100% - 60px);
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: rgb(10, 89, 92);
}

a {
  color: white;
  text-decoration: none;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100px;
  color: white;
  cursor: pointer;
  user-select: none;
}

.box:hover {
  background-color: rgb(9, 77, 80) !important;
}

.box1 {
  background-color: rgb(8, 74, 77);
}

.add {
  align-self: end;
}

#start {
  display: flex;
}

.mark {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  right: 50px;
  bottom: 50px;
  width: 400px;
  height: 200px;
  border-radius: 20px;
  background-color: rgb(252, 252, 252);
  visibility: hidden;
}

.mark-head {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 33.33%;
}

.mark-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33.33%;
}

.mark-foot {
  width: 100%;
  height: 33.33%;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.icon-star {
  height: 50%;
  width: 7%;
  cursor: pointer;
}

.btn {
  height: 30px;
  width: 75px;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
}

.confirm {
  background-color: rgb(102,177,255);
  margin-left: 70px;
}

.cancel {
  background-color: rgb(245,108,108);
  margin-right: 70px;
}

